.node-page.view-mode-full, .view-mode-parks_page {
 .field-collection-item-field-three-col {
    @include breakpoint($tablet, $no-query: '.no-mq') {
      float: left;
      width: 33%;
      padding: 0em 1em;
    }
 } 
}

.two-cols {
   .field-collection-item-field-cols {
    @include breakpoint($tablet, $no-query: '.no-mq') {
      float: left;
      width: 50%;
      padding: 0em 1em;
    }
 } 
}

.node-public-works {
	@include clearfix;
	.ds-one{ 
		width: 100%;
	}
	.ds-two {
		@include breakpoint($tablet, $no-query: '.no-mq') {
			@include grid-span(8,1);
    	}
	}
	.ds-three {
		@include breakpoint($tablet, $no-query: '.no-mq') {
			@include grid-span(3,9);
    	}		
	}
	.ds-four{ 
		@include clearfix;
		width: 100%;
	}
}
