.view-news {
  .views-row {
    margin: 1em 0;
    padding: 1em;
    border-top: 1px solid #EFEFEF;
  }
  h2 {
    margin-bottom: 0;
  }
  h2 > a {
    text-decoration: none;
  }
}

.main-news-image {
	@include breakpoint($tablet, $no-query: '.no-mq') {
		float: right;
		width: 50%;
		padding-left: 1em;
		padding-bottom: 1em;
	}
	img {
		width: 100%;
	}
}